.mission {
	position: relative;
	z-index: 2;
	width: 35%;
	margin: 15rem auto 0;

	@media (max-width: 1400px) {
		margin-top: 20rem;
		width: 40%;
	}
	@media (max-width: 992px) {
		margin-top: 18rem;
	}
	@media (max-width: 768px) {
		margin-top: 10rem;
		width: 70%;
	}
	@media (max-width: 480px) {
		margin-top: 8rem;
		width: 80%;
	}

	> div {
		margin: 1.3rem auto;
		opacity: 0.6;
		font-size: 2.2rem;
		font-weight: 800;
		text-align: center;
		line-height: 1.2;
		letter-spacing: 0.01rem;
		will-change: transform;
		@media (max-width: 1200px) {
			font-size: 2rem;
			margin: 1rem auto;
		}
		@media (max-width: 480px) {
			font-size: 1.7rem;
		}

		&:first-child {
			opacity: 1;
		}
	}
}
