.modal {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.1s ease;

	&--active {
		opacity: 1;
		visibility: visible;

		.modal__content {
			transform: scale(1);
		}
	}

	&__overlay {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(4px);
		cursor: pointer;
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 1.4rem;
		pointer-events: none;
	}

	&__content {
		position: relative;
		background-color: whitesmoke;
		border-radius: 1rem;
		padding: 2.2rem;
		max-width: 25rem;
		width: 100%;
		transform: scale(0.87);
		transition: transform 0.3s ease;
		pointer-events: auto;
		box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
	}

	&__close {
		position: absolute;
		top: 0.8rem;
		right: 1.3rem;
		font-size: 1.5rem;
		cursor: pointer;
		opacity: 0.6rem;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 1;
		}
	}

	&__header {
		margin-bottom: 1.2rem;
	}

	&__title {
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		line-height: 1.2rem;
	}
}
